img {
    width: 100%;
    height: 600px;
}

section {
    padding: 50px 0;
}

    section.row {
        padding-top: 15px;
    }

hr {
    width: 10%;
    background-color: white;
    height: 5px;
}



#panel, #flip {
    padding: 5px;
    text-align: center;
    background-image: linear-gradient(45deg, #f046ff, #9b00e8);
}

/*#panel {
    padding: 50px;
    display: none;
   
}*/

#panel2, #flip2 {
    padding: 5px;
    text-align: center;
    background-image: linear-gradient(45deg, #f046ff, #9b00e8);
    border: solid 1px #c3c3c3;
    border-radius: 10px;
}




#text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: black;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

table {
    border-collapse: collapse;
    border-radius: 30px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px #666; /* this draws the table border  */
    background-color: rgb(108,117,125);
}

td {
    border: 1px solid rgb(108,117,125);
    text-align: center;
}

button {
    border-radius: 10px;
}

.contact {
    background-image: linear-gradient(45deg, #f046ff, #9b00e8);
}

.footter {
    background-image: linear-gradient(45deg, #f046ff, #9b00e8);
}

#nav {
    background-image: linear-gradient(45deg, #f046ff, #9b00e8);
}
.butt {
    background: #FFFAFA;
    color:black;
    width: 230px;
    border: none;
    border-radius: 25px;
    padding: 10px;
    -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
}